:root {
  --main-color: #4285F4;
}

html, body, #app, #app>div, #root {
  min-height: 100vh;
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
}
@font-face {
  font-family: mainFont;
  src: url(../public/fonts/AirbnbCereal_W_Bk.otf);
}
* {
  font-family: mainFont;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-main {
  background-color: var(--main-color);
}

.body {
  display: flex;
  flex-direction: column;
    height: 100%; 
}
.content-div {
  flex: 1 1 auto;
  overflow: auto;
}

.newbathroom-wrapper {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.bg-grey {
  background-color: whitesmoke;
}
.signInWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.350); 
  background-position: center;
  background-size: cover;
}

.signInBox {
  background-color: white;
  border-radius: 5px;
}
